/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #fff;
}
.container .leftPane {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .rightPane {
  background-color: #fff;
  position: absolute;
  right: 200px;
  top: 100px;
  width: 325px;
  border-radius: 16px;
  box-shadow: 0px 6px 64px rgba(0, 0, 0, 0.1);
}
.container .rightPane .colorPane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .rightPane .colorRemix .heading {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}
.container .rightPane .colorRemix .customSlider {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 12px;
}
.container .rightPane .colorRemix .customSlider label {
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  margin-right: 8px;
}
.container .rightPane .colorRemix .customSlider .slider {
  display: inline-flex;
  width: 100%;
  height: 1px;
  appearance: none;
  background: #CBCBCB;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.container .rightPane .colorRemix .customSlider .slider:hover {
  opacity: 1;
}
.container .rightPane .colorRemix .customSlider .slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #5C5C5C;
  border-radius: 32px;
  cursor: pointer;
}
.container .rightPane .colorRemix .customSlider .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.container .rightPane .colorRemix .customSlider .value {
  max-width: calc(30% + 8px);
  margin-left: 8px;
}
.container .rightPane .colorRemix .value {
  color: #969696;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.select {
  min-width: 30%;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #4B4B4B;
  margin-right: 8px;
}

.select select {
  background: none;
  color: #a8a8a8;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  transition: all 150ms ease;
}

.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #223254;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover + svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

/*# sourceMappingURL=main.css.map */
