/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.canvasWrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media only screen and (max-width: 500px) {
  .canvasWrap {
    flex-flow: column;
    padding-top: 16px;
    justify-content: flex-start;
    margin-top: 48px;
  }
}
.canvasWrap .canvasAndControls {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  max-width: 1200px;
}

@media only screen and (max-width: 500px) {
  .rightPane {
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: auto;
    right: auto;
  }
}
.rightPane .colorPane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightPane .colorRemix .customSlider {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 4px 0;
}
.rightPane .colorRemix .customSlider .slider {
  display: inline-flex;
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  appearance: none;
  background: #dadada;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.rightPane .colorRemix .customSlider .slider:hover {
  opacity: 1;
}
.rightPane .colorRemix .customSlider .slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #5C5C5C;
  border-radius: 32px;
  cursor: pointer;
}
.rightPane .colorRemix .customSlider .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
.rightPane .colorRemix .customSlider .value {
  max-width: calc(30% + 8px);
  margin-left: 8px;
}
.rightPane .colorRemix .value {
  color: #969696;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

.select {
  min-width: 30%;
  position: relative;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  color: #4B4B4B;
  margin-right: 8px;
}

.select select {
  background: none;
  color: #a8a8a8;
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  transition: all 150ms ease;
}
.select select:required:invalid {
  color: #5a667f;
}

.select select option {
  color: #223254;
}

.select select option[value=""][disabled] {
  display: none;
}

.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

.select select:hover + svg {
  stroke: #07f;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.colorSelector-action {
  position: absolute;
  display: none;
  top: -40px;
  right: 8px;
  font-size: 14px;
  background-color: #fff;
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 32px;
}
@media only screen and (max-width: 500px) {
  .colorSelector-action {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
